<div class="main">
    Какой-то текст я передаю Вам по запросу
    <img src="https://w.forfun.com/fetch/da/daf8eb568fea522f6701fb9c66378cdc.jpeg" alt="">
</div>
<link rel="stylesheet" href="./index.css" />